.venue{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

.venueUpper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
    z-index: 2;
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carouselControls {
    width: 1%;
    position: absolute;
    bottom: 0%;
    right: 8%;
    display: flex;
    gap: 50%;
}

.carouselButton {
    padding: 50%; /* Reduced outer padding */
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    position: relative; /* Added for proper positioning of pseudo-element */
}

.carouselButton::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30%;
    border-radius: 50%;
    background-color: transparent;
}

.carouselButton.active::after {
    background-color: black;
}

.venueUpper img{
    width: 95%;
}

@font-face {
    font-family: 'washington';
    src: url('../../Font/Washington.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lgcd';
    src: url('../../Font/Lgcd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../../Font/Lgc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.venueLower{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #395198;
    padding-top: 40%;
    padding-bottom: 2%;
    margin-top: -35%;
}

.venuwLowerDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.venueLowerDHeading{
    width: 98%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-bottom: 3%;
}

.venueLowerDHeading p{
    font-family: 'washington';
    font-size: calc(4.8vw);
    color: white;
    margin: 0;
}

.navbarContact {
    width: 35%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0.4%;
    background-color: white;
}

.contactUsHeading {
    width: 34%;
    display: flex;
}

.contactUsHeading p {
    font-family: 'lgcd';
    margin: 0;
    font-size: 2.1vw;
    font-weight: 700;
    color: black;
}

.navbarContactNumber {
    width: 65%;
    display: flex;
    padding: 4% 0;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.navbarContactNumber p {
    font-family: 'lgcd';
    color: white;
    margin: 0;
    font-size: 2.1vw;
    font-weight: 700;
}

.navbarContactNumber img {
    width: 9%;
}

.venueLowerDDetails{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.venueLeft{
    display: flex;
    flex-direction: column;
    width: 38%;
}

.venueLeft p{
    font-family: 'lgcd';
    font-size:  calc(2.2vw);
    font-weight: 700;
    color: white;
    margin-top: 0;
    margin-bottom: 6%;
}

.venueRight {
    width: 61%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.venueRight img {
    width: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: scale(1.1);
}

.venueRight img.active {
    opacity: 1;
    transform: scale(1);
}

.venueRight p {
    font-family: 'CustomFont';
    font-size: calc(1.45vw);
    font-weight: 400;
    color: white;
}


.venueLeft .properties{
    font-family: 'CustomFont';
    color: rgba(255,255,255,0.65);
    font-weight: 100;
    cursor: pointer;
}

.properties.selected {
    color: white;
    font-weight: normal;
}

.venueImage.active {
    opacity: 1;
    transform: scale(1);
  }

.propertyImage {
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  
  .animateImage {
    opacity: 0;
    animation: fadeSlideUp 0.4s forwards;
  }
  
  @keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  