.completeFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer{
    width: 100%;
    display: flex;
    background-color: #395198;
    padding: 1.8% 0;
    overflow: hidden;
    margin-top: 10%;
}

.footerUpper{
    width: 100%;
    display: flex;
}

.footerLeft{
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: white;
    padding: 1% 0;
}

.footerKuritImg{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerKuritImg img{
    width: 100%;
}

.footerNavLinks{
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footerNavLinks a{
    text-decoration: none;
    color: black;
    font-size: calc(1.5vw);
    margin: 12% 0;
}

.footerSocialLinks{
    width: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footerSocialLinks a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 100;
    margin: 6% 0;
}

.footerSocialLinks span{
    font-family: 'CustomFont';
}

.footerContent{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerC{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.footerC .fh{
    margin: 0;
    font-size: calc(1vw);
    margin-bottom: 3%;
}

.footerC .fp{
    font-family: "lgcd";
    margin: 0;
    font-size: calc(1.35vw);
}

.navbarC {
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0.7%;
    background-color: white;
    border: 1px solid black;
}

.contactU {
    width: 35%;
    display: flex;
}

.contactU p {
    font-family: 'lgcd';
    margin: 0;
    font-size: 1.3vw;
    font-weight: 700;
    color: black;
}

.navbarContactN {
    width: 65%;
    display: flex;
    padding: 4% 0;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.navbarContactN p {
    font-family: 'lgcd';
    color: white;
    margin: 0;
    font-size: 1.5vw;
    font-weight: 700;
}

.navbarContactN img {
    width: 9%;
}

.fRightImg{
    width: 35%;
}

.fRightImg img{
    width: 100%;
    transform: scale(1.28);
}

.footerLower{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.6% 4%;
}

.footerFirst{
    width: 19%;
}

.footerSecond{
    width: 21%;
}

.footerFirst p{
    font-family: "lgcd";
    font-size: 1vw;
    margin: 0;
}

.footerSecond p{
    font-family: "lgcd";
    font-size: 1vw;
    margin: 0;
}