.footer{
    width: 100%;
    border: 1px solid black;
    display: flex;
    background-color: #395198;
    padding: 1.8% 0;
    overflow: hidden;
}

.footerUpper{
    width: 100%;
    display: flex;
}

.footerLeft{
    display: flex;
    justify-content: space-around;
    width: 75%;
    border: 1px solid black;
    background-color: white;
}

.footerKuritImg{
    width: 10%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerKuritImg img{
    width: 100%;
}

.footerNavLinks{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid black;
}

.footerNavLinks a{
    text-decoration: none;
    color: black;
    font-size: calc(1.6vw);
    margin: 7% 0;
}

.footerSocialLinks{
    width: 9%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footerSocialLinks a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 100;
    margin: 6% 0;
}

.footerSocialLinks span{
    font-family: 'CustomFont';
}

.footerContent{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.footerC{
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 4%;
}

.footerC .fh{
    margin: 0;
    font-size: calc(1vw);
    margin-bottom: 3%;
}

.footerC .fp{
    margin: 0;
    font-size: calc(1.35vw);
}

.fRightImg{
    width: 35%;
}

.fRightImg img{
    width: 100%;
    transform: scale(1.28);
}