@font-face {
    font-family: 'CustomFont';
    src: url('../Font/Lgcd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mainNavbar{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 4;
}

.navbar {
    width: 95%;
    margin: auto;
    background-color: white;
    padding: 0.9% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarImg {
    width: 5.5%;
}

.navbarImg img {
    width: 100%;
}

.navbarItems {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarItems a {
    text-decoration: none;
    color: black;
    font-size: calc(1.2vw + 0.5vh);
    font-weight: 700;
}

.navbarContact {
    width: 35%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0.4%;
    border: 1px solid black;
}

.contactUsHeading {
    width: 34%;
    display: flex;
}

.contactUsHeading p {
    margin: 0;
    font-size: 2.1vw;
    font-weight: 700;
    color: black;
}

.navbarContactNumber {
    width: 65%;
    display: flex;
    padding: 4% 0;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.navbarContactNumber p {
    color: white;
    margin: 0;
    font-size: 2.1vw;
    font-weight: 700;
}

.navbarContactNumber img {
    width: 9%;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 2% 0;
    }

    .navbarImg {
        width: 10%;
    }

    .navbarItems {
        display: none;
    }

    .navbarContact {
        width: 40%;
        border: none;
    }

    .contactUsHeading {
        display: none;
    }

    .navbarContactNumber {
        width: 100%;
        padding: 2% 4%;
    }

    .navbarContactNumber p {
        font-size: 4vw;
        padding: 4% 0;
    }

    .navbarContactNumber img {
        width: 6%;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 1% 0;
    }

    .navbarImg {
        width: 14%;
    }

    .navbarContact {
        width: 40%;
        border: none;
    }

    .navbarContactNumber p {
        font-size: 3.8vw;
        font-weight: 100;
    }

    .navbarContactNumber img {
        width: 10%;
    }

    .contactUsHeading{
        display: none;
    }

    .navbarContactNumber {
        width: 100%;
        padding: 2% 0;
    }
}